ff.words.application/bin/
ff.words.application/obj/
ff.words.data/bin/
ff.words.data/obj/
ff.words/bin/
ff.words/obj/
ff.words.ioc/obj/
ff.words.ioc/bin/
.vs/
ff.words.site/FFWords/bower_components/
ff.words.site/FFWords/src/assets/modules/vendors/
ff.words.site/FFWords/src/assets/vendors/by_bower/
