<div class="cat__footer">
    <div class="cat__footer__top">
        <div class="row">
            <div class="col-md-12">
                <div class="cat__footer__company">
                    <img class="cat__footer__company-logo" src="assets/modules/dummy-assets/common/img/mediatec.png" target="_blank" title="FF Team">
                    <span>
                        &copy; 2018 <a href="http://ff-team.com" target="_blank">FF Team</a>
                        <br>
                        All rights reserved
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="cat__footer__bottom">
        <div class="row">
            
        </div>
    </div>-->
    <!--<a href="javascript: void(0);" class="cat__core__scroll-top" onclick="$('body, html').animate({'scrollTop': 0}, 500);"><i class="icmn-arrow-up"></i></a>-->
</div>
