body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .ff-side-bar {
        display:none;
    }
}


.ff-entry {
    text-align: justify;
    line-height: 1.4em;
    font-size: 1.4em;
    font-weight: 100;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

.ff-entry-info {
    list-style: none;
    padding: 0;
    margin-bottom:15px;
}

    .ff-entry-info li {
        display: inline;
        margin-right: 10px;
    }

        .ff-entry-info li a {
            color: #999;
        }


.ff-entry-title {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 5em;
    padding-bottom: 5px;
}

    .ff-side-bar {
        width: 24%;
        height: 100%;
        background-color: #3d5573;
        color: azure;
        font-family: "Open Sans";
        left: 0;
        padding-left: 10px;
    }

.ff-navbar {
    background-color: #8da3c1;
}

    .ff-navbar a {
        color: #000;
    }