<div class="cat__top-bar">
    <!-- left aligned items -->
    <div class="cat__top-bar__left">
        <div class="cat__top-bar__logo">
            <a href="dashboards-alpha.html">
                <img src="assets/modules/dummy-assets/common/img/logo.png" />
            </a>
        </div>
        <div class="cat__top-bar__item hidden-lg-down">
            <div class="cat__top-bar__search">
                <i class="icmn-search"><!-- --></i>
                <input type="text" placeholder="Type to search..." />
            </div>
        </div>
    </div>
    <!-- right aligned items -->
    <div class="cat__top-bar__right">
        <div class="cat__top-bar__item hidden-sm-down">
            <div class="dropdown">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="menu-notification-icon icmn-home"></i>
                </a>
            </div>
        </div>
        <div class="cat__top-bar__item">
            <div class="dropdown cat__top-bar__avatar-dropdown">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="cat__top-bar__avatar" href="javascript:void(0);">
                        <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" />
                    </span>
                </a>
            </div>
        </div>
        <div class="cat__top-bar__item">
            <div class="cat__top-bar__menu-button cat__menu-right__action--menu-toggle">
                <i class="fa fa-bars"><!-- --></i>
            </div>
        </div>
    </div>
</div>
