@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="ff-entry-title">About Jim</h1>
        <article class="ff-entry">
            <img width="150" src="http://res.cloudinary.com/ff-team/image/upload/v1525241453/avatar.png" /><br />
            <hr />
            <p>
                Jim is not my real name. I'm a Vietnamese so that I have a name in my native language.
                My family and friends used to call me Tin (it's not a Western name and quite difficult to say).
                I choose Jim as my English name and for my international friends could easy to call me.
            </p>
            <p>
               Describe myself in short version: "A guy love games and have passion for programming".
            </p>
            <h2>What do I do?</h2>
            <hr />
            <p>
                People could call me a developer, a programmer or a coder.<br />
                Btw, I write code to make software, awesome software. That's all! <br />
                I'm currently not available for a new job. I will update this status in a certain time.
            </p>
            <h2>Why I choose to be a developer?</h2>
            <hr />
            <p>
                
            </p>
            <h2>What I do for fun?</h2>
            <hr />
            <p>
                
            </p>
        </article>
    </div>
</div>