@model HomeModel;

@{
    ViewData["Title"] = Model.Entry.Title;
}

<div class="row">
    <div class="col-md-12">
        <h1 class="ff-entry-title">@Model.Entry.Title</h1>
        <ul class="ff-entry-info">
            <li><a><span class="glyphicon glyphicon-calendar"></span>@Model.Entry.CreatedDate.ToLongDateString()</a></li>
            <li><a><span class="glyphicon glyphicon-tags"></span> Tags</a></li>
            <li><a><span class="glyphicon glyphicon-comment"></span> Comment</a></li>
            <li><a><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
        </ul>
        <article class="ff-entry">
            @Html.Raw(Model.Entry.Content)
        </article>
    </div>
</div>